{% extends '::base.html.twig' %}

{% set active_section = 'ships' %}

{% block body -%}
    <div class="page-header">
        <h1>Buy Ship</h1>
    </div>

    {% form_theme form 'DeepSpaceOneGameBundle:Ship:ship-form.html.twig' %}
    {{ form(form) }}

    <ul class="record_actions list-inline">
        <li><a href="{{ path('ships') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Back to the list</a></li>
    </ul>
{% endblock %}
