{% extends '::base.html.twig' %}

{% set active_section = 'goods' %}

{% block body -%}
    <div class="page-header">
        <h1>New Good</h1>
    </div>

    {# TASK 1: render form #}

    <ul class="record_actions list-inline">
        <li><a href="{{ path('goods') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Back to the list</a></li>
    </ul>
{% endblock %}
