{% extends '::base.html.twig' %}

{% set active_section = 'equipment' %}

{% block body -%}
    <div class="page-header">
        <h1>Edit Equipment</h1>
    </div>

    {{ form(edit_form) }}

    <ul class="record_actions list-inline">
        <li><a href="{{ path('equipment') }}" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Back to the list</a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
